<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" >

  <title>Flask Template</title>



  </head>

  <body>
    {% include 'navbar_public.html' %}

    <main>

      <div class="auth-page_container">

        <div class="login-form-container" id="reset-password-view">

          <div class="login-form">
            <h2>Reset Password</h2>

            <div class="input-group">
              <input type="email" id="email-forgot-password" name="email" placeholder="Enter Your Email" required>
              <div id="email-error-message" class="error-msg"></div>
            </div>

            <div id="forgot-password-btn" class="login-btn">Submit</div>
            

          </div>

        </div>

        <button id="back-to-login-btn" onclick="window.location='/login'" class="login-link-btn">Back to Login</button>

        <div id="reset-password-confirmation-page" style="display: none;">
          <h2>Password Reset Email Sent</h2>
          <p>Please check your email for instructions on how to reset your password.</p>
          <a href="{{ url_for('login') }}">Return to Login page</a>
        </div>

      </div>

    </main>

    {% include 'footer.html' %}

    <script src="{{ url_for('static', filename='login-auth.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}" type="module"></script>

  </body>

</html>
